.w {
    width: 1240px;
    height: auto;
    margin:0 auto;
    min-width: 1240px;
}
body{
    background-color: rgb(70, 60, 200);
    /* 字体直接统一设置为模板 */

}

.menu{
    /* overflow: hidden; */
    margin-top:30px;
    height: 420px;
    width: 1260px;
    margin:8px auto;
    /* background-color: pink; */
}
.t {
    float:left;
    width: 304px;
    height: 405px;
    margin: 15px 4px;
    float: left;
    background-color: #f2f9f4;
    /* transition: all 1s; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 5px 3px rgba(2, 2, 2, 0.3);
}
.t:last-child{
    margin-right: 0;
}
.t:first-child{
    margin-left: 8px;
}
.t img{
    width: 304px;
    height: 304px;
    object-fit: cover;
}
.t .title{
    margin:22px auto 14px;
    font-size:20px;
    color:#333;
    text-align: center;
    font-family:  "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.t p{
    color: #8e3627;
    font-size:14px;
    text-align: center;
    height:23px;
    line-height: 23px;
    font-family:  "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.t:hover {
    /* transition:all 1s; */
    position: relative;
    top:-5px;
    box-shadow: 1px 3px 5px 3px rgba(2, 2, 2, 0.8);
    cursor: pointer;
    /* transition: all 1s; */

}
.title1 {
    color:white;
    width:1000px;
    text-align: center;
    font-size:36px;
    margin:20px auto;
}
.title2 {
    color:white;
    width:1000px;
    text-align: center;
    font-size:18px;
    margin:20px auto;
}