<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B站登录页面</title>
    <link rel="stylesheet" href="../../css/format.css">
    <link rel="stylesheet" href="../../iconfont/iconfont.css">
    <link rel="stylesheet" href="./login.css">
</head>

<body>
    <!-- 滑动下来头部栏 -->
    <iframe src="../../compoment/publcTopBanner/publicTopBanner.html" frameborder="0" width="100%"
        class="specialTop"></iframe>
    <div class="centerContent">
        <!-- 中间的云朵背景 -->
        <div class="centerBanner">
            <img src="./img/logobanner.png" alt="">
        </div>

        <!-- 登录文字 -->
        <div class="logoText">
            <span class="logoTitle">登录</span>
        </div>

        <!-- 整个登录框 -->
        <div class="logoBox clearfix">
            <div class="logoLeft fl">
                <div class="ErVMa">
                    <div class="hiddenFather">
                        <div class="ErVMaImg">
                            <!-- 二维码和上方手机人 -->
                            <div class="iphonePeople">
                            </div>
                            <img src="./img/ErVMa.png" alt="">
                        </div>
                        <!-- 白云显示隐藏 -->
                        <img src="./img/hiddenBG.png" alt="" class="hiddenBG">
                    </div>
                    <div class="twoPeople">
                        <span style="font-size:18px;color:#222;">扫描二维码登录</span>
                        <div style="color: #717171;">请使用 <a href="javascript:;" style="color:#00a1d6">哔哩哔哩客户端</a>
                            <br>
                            扫码登录
                            <br>
                            或扫码下载APP
                        </div>
                    </div>
                </div>
            </div>

            <!-- 中间分割线 -->
            <div class="line"></div>
            <!-- 登录框右边 -->
            <div class="logoRight fr">
                <p>
                    <span style="color: #00a1d6;
                    margin-right: 15px;">密码登录</span>
                    <span>短信登录</span>
                </p>
                <form>
                    <div class="iptText">
                        <input type="text" placeholder="你的手机号/邮箱">
                    </div>
                    <div class="iptPwd">
                        <input type="password" placeholder="密码">
                    </div>
                    <div class="formMsg clearfix">
                        <div class="formLMsg fl">
                            <input type="checkbox" checked>
                            <label for="">记住我</label>
                            <span style="color: #bbb;margin-left: 8px;">不是自己的电脑上不要勾选此项</span>
                        </div>
                        <div class="formRMsg fr">
                            <span style="color:#00a1d6">无法验证?忘记密码</span>
                        </div>

                    </div>
                    <div class="logonRegister clearfix">
                        <button class="fl">登录</button>
                        <button class="fr">注册</button>
                    </div>
                    <div class="otherLogo">
                        <div class="weixin fl">
                            <i class="iconfont icon-weixin" style="color:#57bb40"></i>微信账号登录
                        </div>
                        <div class="qq fl">
                            <i class="iconfont icon-QQ" style="color: #0090d4;"></i>QQ账号登录
                        </div>
                        <div class="weibo fl">
                            <i class="iconfont icon-xinlangweibo
                            " style="color: #db4437;"></i>微博账号登录
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="listRuler w">
            登录即代表你同意<a href="javascript:;">用户协议</a>和<a href="javascript:;">隐私协议</a>
        </div>
    </div>
    <!-- 底部信息栏 -->
    <iframe src="../../compoment/btmBanner/btmBanner.html" frameborder="0" width="100%" class="btmBanner"></iframe>
</body>

</html>